.area-detail-section {
  padding: 2rem 3%;
  scroll-margin-top: 98px;
}

.alimenticia-title,
.armazenagem-title {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.area-subtitle {
  margin-bottom: 1rem;
}

.list-content {
  padding: 1.5rem;
  display: flex;
  align-items: center;
  color: white;
  background-image: linear-gradient(to bottom, #2a4b5cb5, #0e1b2cb6);
  border-radius: 20px;
}

.list-intro {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.list-description {
  list-style-position: inside;
}
.card-list {
  flex: 1;
  text-align: justify;
}

.card-list li {
  padding-left: 2rem;
}

.carrossel {
  overflow-x: auto;
  display: flex;
  gap: 1em;
  flex: 1;
  border-radius: 20px;
  scroll-behavior: smooth;
  anchor-name: --carrossel;
  scroll-snap-type: x mandatory;
}

.carrossel::-webkit-scrollbar {
  display: none;
}

.carrossel img {
  scroll-snap-align: start;
  border-radius: 20px;
  width: 100%;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.9);
  transition: transform 0.3s ease;
  cursor: pointer;
}
.carrossel img:hover {
  transform: scale(1.03);
}

.list-content {
  position: relative;
}

.btn-carousel {
  color: white;
  border: none;
  background-color: #316a88;
  border-radius: 12px;
  padding: 0;
  font-weight: 600;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
  position: absolute;
  top: 50%;
  transform: translate(-50%);
  z-index: 10;
  width: 45px;
  height: 40px;
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
btn-carousel:hover {
  background-color: #244669;
}
.btn-prev {
  left: 50%;
}
.btn-next {
  right: -1.2rem;
}

.btn-carousel.disabled {
  opacity: 0.4;
  cursor: not-allowed;
  pointer-events: none;
}

@media screen and (max-width: 992px) {
  #armazenagem .subtitle {
    display: flex;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    text-align: center;
  }
  .list-content {
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    background-size: cover;
    background-position: center;
  }

  .card-list {
    width: 100%;
    height: 100%;
    text-align: left;
    margin-bottom: 1.5rem;
    z-index: 1;
  }
  .list-intro {
    font-size: 1.2rem;
    text-align: center;
  }

  .list-description {
    display: block;
  }
  .card-list li {
    padding: 0;
  }

  .carrossel {
    display: none;
  }
  .btn-carousel {
    display: none;
  }

  #armazenagem .list-content {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
      url('../../assets/cards/card-armazenagem1.png');
  }

  #alimenticia .list-content {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
      url('../../assets/cards/card-alimenticia1.png');
  }

  #intermodais .list-content {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
      url('../../assets/cards/intermodal1.png');
  }
}
