* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  padding-top: 98px;
  min-height: 100dvh;
  background-image: url('../assets/images/bg-ideia1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

section {
  padding: 1.5rem 3%;
}
