* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  padding-top: 98px;
  min-height: 100dvh;
  background-image: url('../assets/images/bg-ideia1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  overflow-x: hidden;
}

section {
  padding: 1.5rem 3%;
}

.top-title {
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 0.252);
  padding: 5px 43px;
  border-radius: 500px;
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 1rem;
  color: white;
  backdrop-filter: blur(4px);
}

.subtitle {
  color: white;

  display: flex;
  font-weight: 500;
  font-size: 1.5rem;
  text-align: center;
}

/* FADEIN DO JS NAS PAGIANAS */

.reveal {
  opacity: 0;
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.reveal-from-bottom {
  transform: translateY(40px);
}

.reveal-from-left {
  transform: translateX(-50px);
}
.reveal-from-right {
  transform: translateX(50px);
}

.reveal-fade-only {
  transform: translateY(0);
}

.reveal.fadeIn {
  opacity: 1;
  transform: translateX(0) translateY(0) scale(1) rotate(0);
}

@media screen and (max-width: 1170px) {
  .top-title {
    font-size: 1.2rem;
  }
  .subtitle {
    font-size: 1rem;
  }
}
